body {
    font-family: 'Special Elite', cursive;
    background-color: black;
    background-image:url("assets/emo-wallpaper.jpg");
}

.banner {
    min-width:1000px;
    background-image:url("assets/sparkles.gif");
    margin: auto;
    height: 120px;
}
marquee {
    color:black;
    background-color: purple;
    font-size:24px;
}

.title {
    
    background-color: black;
    margin-left:30%;
    margin-right:30%;
    padding-top:25px;
}

.subtitle {
    
    background-color: black;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:15px;
}

h1, h2, h3 {
    color: red;

}

h1 {
    margin:auto;
}

#input {
    background-color: black;
    width:100%;
    max-width: 500px;
    height: 100px;
    color: red;
    font-size:18px;
}
button {
    font-family: 'Eater';
    float: center;
    background-color: black;
    color:red;
    display: inline-block;
    font-size: 16px;
    margin: 15px 5px;
    padding: 25px 32px;
    text-align: center;
}
button:hover {background-image:url("assets/sparkles.gif"); }


#result {
    color: purple;
    font-size:28px;
    width:100%;
    height: 100px;
}

.left-column{
    margin-top:15px;
    width: 60%;
    max-width: 600px;
    margin-right: 20px;
    margin-left:25px;
    padding-right:40px;
    padding-left:40px;
    background-color: black;
    outline: 4px double white;
}


.right-column {
    margin-top:15px;
    max-width: 600px;
    width: 40%;
    margin-left: 20px;
    margin-right:25px;
    padding-left:40px;
    padding-right:40px;
    background-color: black;
    outline: 4px double white;
    overflow: scroll;
}
.flex-grid {
    display: flex;
}